<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div>-->
<!--    <a href="/" th:href="@{/}">Return to books</a>-->

<!--    <strong>Authors:</strong>-->
<!--    <ul th:each="author : ${book.getAuthors()}">-->
<!--        <li th:text="${author}"></li>-->
<!--    </ul>-->
<!--</div>-->

<div class="card-subtitle text-muted">
    Pages: <span th:text="${book.getNumOfPages()}"></span>
</div>

<br/>

<div  class="card-text">
    <p>
        <strong>Description:</strong> <br/>
        <span th:text="${book.getDescription()}"></span>
    </p>
    <strong>Web Link:</strong>
    <p>
        <a href="#" th:href="${book.getInfoUrl()}"  th:text="${book.getInfoUrl()}"></a>
    </p>

</div>
</body>
</html>