<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <!--Bootstrap stylesheet CDN -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
</head>
<body>


<!--start of new UI-->
<div class="py-5 container"  style="width: 50%;">
    <h2 class="text-center" >My Wishlist</h2>
    <br/>
    <p class="text-center">
        <a href="/wishlist/new" th:href="@{/wishlist/new}" class="btn btn-outline-secondary text-center">New Wishlist Item</a>
    </p>

    <div id="wishlist"> </div>


    <script>
        //Javascript class
        class HttpClient{
            async get(url, params ="") {
                url = new URL(url);
                url.search = new URLSearchParams(params).toString();
                console.log(url.toString());

                const res = await fetch(url.toString(), {
                    method: 'GET',
                });

                return res.json();
            }
        }

        // buildTable function()
        function buildTable(books){
            let tableString =` <table class="table">
                <tr> <th>ISBN</th>
                     <th>Title</th>
                    <th>Functions</th>
                </tr> `;

                for (let book of books){
                tableString += `<tr>
                      <td> ${book.isbn}</td>
                    <td>${book.title}</td>
                    <td> <a href = '#'>Edit</a> | <a href = '#' >Delete < / a ></td>
                </tr>`;
            }
            tableString += `</table>`
            return tableString;
        }

        const http = new HttpClient();
        http.get(`http://localhost:8080/api/wishlist`).then(res => {
            console.log(res);
            document.getElementById("wishlist").innerHTML = buildTable(res);
        }).catch(e => {
            console.log(e);
        })

</script > ;


<!--</div>-->
<!--end of new ui-->
</div>


<div th:insert="~{fragments/scriptFooter :: scriptFooter }"></div>
</body>
</html>